*{
    padding: 0;
    margin: 0;
}
.section-one{

    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}
.section-one__home,.section-one__receipe,.section-one__contact{
    display: inline-block;
    color: gray;
    margin-top: 20px;
}
.section-one__home:hover,.section-one__receipe:hover,.section-one__contact:hover{
    cursor: pointer;
    color: red;
}

.section-two{
   
    margin: 20px;
    text-align: center;
   
}

.section-two__food1 img,.section-two__food2 img,.section-two__food3 img,.section-two__food4 img{
    display: inline-block;
    width: 300px;
    height: 400px;
    vertical-align: top;
    border: solid black 2px;
}
.section-two__food1,.section-two__food2,.section-two__food3,.section-two__food4{

    display: inline-block;
    width: 300px;
    vertical-align: top;
    border: solid black 1px;
    }

.section-two__button{
    background-color:transparent;
    color: rgb(236, 100, 122);
    padding: 5px;
    border-radius: 10px;
}
.section-two__button:hover{
    background-color: green;
    color: black;
    cursor: pointer;
}

.section-three{
    background-color: black;
    color: white;
    margin-top: 20px;
    text-align: center;
    margin-left: auto;
    padding: 20px;
}
.section-three__table{
    display: inline-block;
    text-align: center;
}
.section-three__save{
    width: 300px;
    text-align: center;
    background-color: blue;
    color: black;
}
.section-three__save:hover{
    cursor: pointer;
    color: greenyellow;
    background-color:red;
}

.section-two__food1:hover,.section-two__food2:hover,.section-two__food3:hover,.section-two__food4:hover{
    background-color: rgb(211, 166, 149);
    color: black;
    cursor: pointer;
}

